body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #F5F5F5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #616161;
    font-size: 14px;
    font-weight: 400;
}

.toolbar {
	background-color: #00796B;
	padding: 13px 0;
	display: flex;
}

.toolbar search-input {
	width: 400px;
	margin: auto;
}

@media (max-width: 600px) {
	.toolbar search-input {
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
	}
}

.container{
	width: 800px;
	margin: auto;
	margin-top: 30px;
	background-color: #FFF;
	border: 1px solid #DEDEDE;
	margin-bottom: 25px;
}

@media (max-width: 850px) {
    .container{
        width: calc(100% - 50px);
    }
}
@media (max-width: 500px) {
	.container{
		width: calc(100% - 50px);
	}
}
table{
	width: 100%;
}

thead th{
	font-weight: 500;
	text-transform: uppercase;
}
thead th, tbody td{
	text-align: left;
	padding: 10px;
}
